body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}
header{
  background-color: cornflowerblue;
  text-align: center;
}
header p{
  font-size: 20px;
  opacity: 0.5;
}
h1{
  color:azure;
}
.title{
  font-weight: bold;
  
}